---
import Layout from '../layouts/Layout.astro';
import Hero from '../components/Hero.astro';
import Pricing from '../components/Pricing.astro';
import Portfolio from '../components/works/Portfolio.astro';
import ContactForm from '../components/ContactForm.astro';
import BlogSlider from '../components/BlogSlider.astro';
---

<Layout title="Реставрация ванн акрилом Fintex — Официальное представительство в Казахстане">
  <main>
    <Hero />
    <Pricing />
    <Portfolio />
    <BlogSlider />
    <ContactForm />
  </main>
</Layout>
